header {
    margin-top: 20px;
    margin-bottom: 10px;
}
  
nav {
    width: 20%;
    padding: 10px;
}
  
article {
    width: 70%;
    padding: 0 20px;
}
  
aside {
    width: 25%;
    padding: 10px;
    border: 1px solid black;
}
  
footer {
    margin-top: 10px;
    margin-bottom: 20px;
}